body{
    text-align: center;
    font-size: 16px;
  }
  header{
    padding: 30px 0;
    background: linear-gradient(to top left, black,green);
  }
  p>a{
    color: white;
    font-weight : bold;
    font-size: 24px;
  }
  td>a{
    color: black;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin : 30px 0;
  }
  th {
    color:white;
    background: linear-gradient(to top left, black,green);
    padding: 10px 3px;
  }
  td{
    border: 0.1px dotted green;
    padding: 5px 3px;
  }
  p{
    margin: auto;
  }